calculater/src/main/mule/calculater.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0abae7cd-7e58-499b-a531-2f385386bddc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="calculaterFlow" doc:id="3b466da0-43d0-4dae-a0f7-cb4a9523a7b9" >
		<http:listener doc:name="TAKE_INPUT" doc:id="719bd68c-b1e1-4d02-a44c-eb99ae02a0bd" config-ref="HTTP_Listener_config" path="/cal"/>
		<set-variable value="#[attributes.queryParams.Action]" doc:name="Action_Operation" doc:id="6c1cfb32-fb56-4797-8b46-422d0c155b0b" variableName="Action"/>
		<choice doc:name="Choice" doc:id="2dd73005-d704-40a3-85bb-d776d932231a" >
			<when expression='#[vars.Action=="Add"]'>
				<ee:transform doc:name="ADD" doc:id="ff6cdc66-ae77-4c5d-bcdf-efb73a7803f3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"First_Number": payload.a,
	"Second_Number": payload.b,
	"Addition": payload.a + payload.b
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<when expression='#[vars.Action=="Sub"]'>
				<ee:transform doc:name="SUBSTRACTION" doc:id="6247ddd1-73fc-4dcc-8293-2a0d67de853b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"First_Number": payload.a,
	"Second_Number": payload.b,
	"Substraction": payload.a - payload.b
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[vars.Action=="Multiple"]'>
				<ee:transform doc:name="MULTIPLICTION" doc:id="40b0b6ab-5b3d-41e4-bdca-b946a48dc158" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"First_Number": payload.a,
	"Second_Number": payload.b,
	"Multiplication": payload.a * payload.b
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[vars.Action=="Divide"]'>
				<ee:transform doc:name="DIVIDE" doc:id="d916979c-3d56-423b-a828-d65cfd7da941">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"First_Number": payload.a,
	"Second_Number": payload.b,
	"Divide":if (payload.b>0) payload.a / payload.b else "Can't Divide by Zero"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="You have selected Unknown Action" doc:id="580e5184-fbd2-43b2-9753-610fa370a689" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"You have selected Unknown Action"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bc5a8851-606f-41e6-ac7a-e5194af479aa" type="ANY">
				<set-payload value='"HI"' doc:name="Set Payload" doc:id="a4f19655-36e0-416d-a837-47f2b330bfd4" />
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="511922c0-b532-4ccd-b269-1238ee1b18b3" type="ANY">
				<set-payload value='"ENTER NUMBER"' doc:name="ENTER NUMBER" doc:id="5757f4bd-5975-4ece-8d84-daed260223e8" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
